[package]

name = "spin"
version = "0.1.3"
authors = [ "Mathijs van de Nes <git@mathijs.vd-nes.nl>",
            "John Ericson <John_Ericson@Yahoo.com>" ]
license = "MIT"
repository = "https://github.com/mvdnes/spinlock-rs.git"
documentation = "https://mvdnes.github.io/spinlock-rs/"
description = """
Synchronization primitives based on spinning.
They may contain data,
They are usable without `std`
and static initializers are available.
"""
